body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  height: 580px;
  width: 580px;
  background-color: rgb(14, 23, 155);
}
h1 {
  color: rgb(5, 5, 5);
  font-size: 35px;
  text-align: center;
  background-color: darkgray;
}
#Title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

#Cam {
  position: relative;
  height: 350px;
  width: 350px;
  border: 5px solid rgb(9, 9, 66);
  background-color: lightgray;
  margin-left: 25px;
  cursor: pointer;
  overflow: hidden;
}

#Cam p {
  position: absolute;
  padding: 5px;
  background-color: rgba(255, 111, 0, 0.85);
  color: #fff;
  border: 1px dashed rgba(255, 255, 255, 0.7);
  z-index: 2;
  font-size: 12px;
}

.highlighter {
  background: rgba(0, 255, 0, 0.25);
  border: 1px dashed #fff;
  z-index: 1;
  position: absolute;
}

#Webcam {
  height: 100%;
  width: 109%;
  margin-left: -14px;
  background-color: rgb(5, 5, 5);
}

#btn {
  height: 115px;
  width: 115px;
  margin-left: 400px;
  margin-top: 20px;
  background-color: green;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
